.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin: 92px 24px 96px;
  padding: 0 26px;
  font-size: 18px;
}

.header__menu {
  grid-column: 1 / 4;
}

.header__links-list {
  display: flex;
  justify-content: space-evenly;
  gap: 13px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
  text-underline-position: under;
}

.address {
  font-style: normal;
  line-height: 1.4;
}

.header__address {
  grid-column: -1 / -3;
}

.address a{
  text-decoration: underline;
  text-underline-position: under;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 135px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(/images/cover.jpg);
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: .6;
  background-color: #000;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
}

.word-spacing-20px {
  margin-right: 20px;
}

.word-spacing-18px {
  margin-right: 18px;
}

.word-spacing-24px {
  margin-right: 24px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px;
}



