.header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  align-items: center;
  margin: 92px 24px;
  padding: 0 26px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-style: normal;
  line-height: 1.4;
}

.header__address {
  justify-self: end;
  grid-column: -1/-2;
  margin-left: 45px;
}

.address a{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 126px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: .6;
  background-color: #000;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  margin-top: 3px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 179px 24px 0;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  color: #fff;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  flex-basis: 334px;
  flex-grow: 1;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.card__text-letter-spacing {
  letter-spacing: .13em;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-transform: lowercase;
  text-underline-position: under;
}

.about {
  margin: 149px 0 180px;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 35px;
}

.about__column-start {
  align-items: center;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 76px;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
}

.footer {
  padding: 0 50px 88px;
  display: grid;
  grid-template-columns: 1.1fr .9fr 1fr 2fr;
  font-size: 18px;
}

.footer__menu {
  grid-column: 3/4
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: end;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}


